<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform
      processPath="C:\Users\liawt\z_Intern_project\iis_flask_app\.venv\Scripts\python.exe"
      arguments="run_waitress.py"
      stdoutLogEnabled="true"
      stdoutLogFile="C:\Users\liawt\z_Intern_project\iis_flask_app\logs\httpplatform.log"
      startupTimeLimit="60"
      requestTimeout="00:05:00"
      processesPerApplication="1">
      <environmentVariables>
        <environmentVariable name="PYTHONUNBUFFERED" value="1" />
        <!--<environmentVariable name="HTTP_PLATFORM_HOST" value="127.0.0.1" />-->
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
      </environmentVariables>
    </httpPlatform>
    <httpErrors existingResponse="PassThrough" />
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
  </system.webServer>
</configuration>
